<div class="ion4-tabs-slide">
  <ion-segment #segments mode="md" [(ngModel)]="initPage" [style.background-color]="backgroundColor">
    <ion-segment-button [style.color]="color" class="segment-button" *ngFor="let item of headers; let i =index;"
      [value]="keyPage ? item[keyPage] : i" (click)="selectedTab(i)">
      <ion-label> {{ item?.name }} </ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-slides #slider [options]="slideOptions" (ionSlideDidChange)="slideChanged()">
    <ng-content></ng-content>
  </ion-slides>
</div>