<app-ion4-expandable-image-header [scrollArea]="ionContent" [opacityFactor]="2">

  <ion-header #ionHeader>

    <ion-toolbar color="primary" class="transparent">
      <ion-title>
        {{ title }}
      </ion-title>
    </ion-toolbar>

  </ion-header>

  <ion-content fullscreen #ionContent [scrollEvents]="true">

    <div class="fixed-content" [style.background-image]="'url(https://ak0.picdn.net/shutterstock/videos/9915350/thumb/1.jpg)'"></div>

    <div class="scroll-content">
      <ion-list>
        <ion-item *ngFor="let conversation of conversations">
          <ion-avatar slot="start">
            <img [src]="conversation.image">
          </ion-avatar>
          <ion-label>
            <h2>{{ conversation?.name }}</h2>
            <h3>{{ conversation?.title }}</h3>
            <p>{{ conversation?.description }}</p>
          </ion-label>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>

</app-ion4-expandable-image-header>